<div class="main-heading">
    <div class="heading-logo">
        <a href="/" fxLayout="row" fxLayoutAlign="start center">
            <img src="../../../../assets/img/logo.png">
            <span class="logo-text">Drive</span>
        </a>
    </div>
<!--    <div class="heading-actions">-->
<!--        <div style="width: 885px">-->
<!--            <form id="search-form">-->
<!--                <button mat-icon-button>-->
<!--                    <mat-icon>search</mat-icon>-->
<!--                </button>-->
<!--                <mat-form-field appearance="fill" floatLabel="never" style="height: 48px; width: 720px">-->
<!--                    <input matInput placeholder="Search in Drive">-->
<!--                </mat-form-field>-->
<!--                <button mat-icon-button>-->
<!--                    <mat-icon>arrow_drop_down</mat-icon>-->
<!--                </button>-->
<!--            </form>-->
<!--        </div>-->
<!--        <mat-icon>offline_pin</mat-icon>-->
<!--        <mat-icon>help_outline</mat-icon>-->
<!--        <mat-icon>settings</mat-icon>-->
<!--    </div>-->
<!--    <div>-->
<!--        <mat-icon>apps</mat-icon>-->
<!--    </div>-->
</div>
