<div class="droppable-root h-100 grid-container" [attr.data-folder-id]="'root'">
    <mat-grid-list [cols]="numberOfItemsPerRow" rowHeight="250px" gutterSize="15px" class="grid-container">
        <ng-container *ngFor="let document of documents; let i = index; trackBy: trackByFn">
            <div (contextmenu)="onOpenContextMenu($event, document)"
                 [ngClass]="{ 'selected': selectedDocument?.id === document.id && !multiFiles.includes(document)}"
                 (click)="onClick(document, i, $event)"
                 (dblclick)="onOpenPreviewAttachment(document)"

                 appDragGhost
                 [content]="document.name"
                 [type]="document.iconType"
                 [countFiles]="multiFiles.length"

                 [draggable]="document.type !== DocumentType.FOLDER"
                 (dragstart)="onDragStartFile($event, document)"
                 (dragend)="onDragEnd()">
                <mat-grid-tile fxLayout="column" class="grid-item clickable"
                               fxLayoutAlign="none center"
                               [attr.data-folder-id]="document?.id"
                               [ngClass]="{
                      'droppable': document.type === DocumentType.FOLDER,
                      'file-dragged': filesDragging && filesDragging.includes(document),
                      'select-many': multiFiles.includes(document),
                      'selected': selectedDocument?.id === document.id
                      }">
                    <div class="thumbnail w-100 h-100">
                    </div>
                    <mat-grid-tile-footer fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
                        <img draggable="false" src="assets/icon-files-types/{{document.iconType}}.svg" alt="" width="20"
                             height="20">
                        <h3 class="label-truncate">{{document.name}}</h3>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </div>
        </ng-container>
    </mat-grid-list>
</div>


<div class="context-menu"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu" [overlapTrigger]="false"
          (closed)="onCloseContextMenu()" hasBackdrop="false">
    <ng-template matMenuContent>
        <ng-container>
            <button mat-menu-item>
                <mat-icon>open_with</mat-icon>
                Open with
            </button>
            <mat-divider></mat-divider>
        </ng-container>

        <ng-container>
            <button mat-menu-item>
                <mat-icon>person_add_alt</mat-icon>
                Share
            </button>
            <button mat-menu-item>
                <mat-icon>link</mat-icon>
                Get link
            </button>
            <button mat-menu-item>
                <mat-icon>folder_outline</mat-icon>
                Show folder location
            </button>
            <button mat-menu-item>
                <mat-icon>add_to_drive</mat-icon>
                Add shortcut to Drive
            </button>
            <button mat-menu-item>
                <mat-icon>drive_file_move_outline</mat-icon>
                Move to
            </button>
            <button mat-menu-item>
                <mat-icon>star_outline</mat-icon>
                Add to Starred
            </button>
            <button mat-menu-item>
                <mat-icon>drive_file_rename_outline</mat-icon>
                Rename
            </button>
            <button mat-menu-item>
                <mat-icon>palette_outline</mat-icon>
                Change color
            </button>
            <button mat-menu-item>
                <mat-icon>search</mat-icon>
                Search within ...
            </button>
            <mat-divider></mat-divider>
        </ng-container>

        <ng-container>
            <button mat-menu-item>
                <mat-icon>info_outline</mat-icon>
                View detail
            </button>
            <button mat-menu-item>
                <mat-icon>download</mat-icon>
                Download
            </button>
            <mat-divider></mat-divider>
        </ng-container>

        <ng-container>
            <button mat-menu-item>
                <mat-icon>delete_outline</mat-icon>
                Remove
            </button>
        </ng-container>
    </ng-template>
</mat-menu>
