.items-container {
  overflow: auto;
}

table {
  width: 100%;

  .mat-column-name {
    width: 40%;
  }

  .mat-column-owner {
    width: 25%;
  }

  .mat-column-lastModified {
    width: 25%;
  }

  .mat-column-fileSize {
    width: 10%;
  }
}

