<div class="list-container h-100 dropable-root" [attr.data-folder-id]="'root'">
    <mat-table matSort [dataSource]="dataSource" [trackBy]="trackByFn" class="clickable">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutGap="12px">
                <img draggable="false" src="assets/icon-files-types/{{element.iconType}}.svg" width="20" height="20">
                <span>{{element.name}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="owner">
            <mat-header-cell *matHeaderCellDef> Owner</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mat-caption">{{element.createdBy.name}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastModified">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">
                {{element.lastModifiedDate | date:'mediumDate'}} {{element.lastModifiedBy.name}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fileSize">
            <mat-header-cell *matHeaderCellDef> File size</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fileSizeInBytes}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                 appDragGhost
                 [content]="row.name"
                 [type]="row.iconType"
                 [countFiles]="multiFiles.length"

                 [attr.data-folder-id]="row.id"
                 [ngClass]="{
             'item-selected': selectedDocumentId === row.id && !multiFiles.includes(row),
             'dropable': row.type === DocumentType.FOLDER,
             'file-dragged': filesDragging && filesDragging.includes(row),
             'select-multi': multiFiles.includes(row)
             }"
                 (click)="onOpenAttachmentDetails(row, i, $event)"
                 (dblclick)="onOpenPreviewAttachment(row)"
                 (contextmenu)="onContextMenu($event, row);"
                 [draggable]="true"
                 (dragstart)="onDragStartFile($event, row)"
                 (dragend)="onDragEnd()">
        </mat-row>
    </mat-table>
</div>
