.container-message {
  visibility: hidden;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.1s visibility linear;

  &.visible {
    visibility: visible;
    transition: 0.3s visibility linear;
  }
}

.message-drop {
  background-color: #1b60e6e0;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  width: 300px;
  height: 80px;

  .content-message {
    font-weight: bold;
    white-space: nowrap;
  }
}

.icon-drop {
  position: relative;
  color: #1158e2e0;
  font-size: 40px;
  width: unset;
  height: unset;
  animation-name: linear-jump;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.folder-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

@keyframes linear-jump {
  0% {
    top: 0;
  }
  10% {
    top: -1px;
  }
  20% {
    top: -2px;
  }
  30% {
    top: -3px;
  }
  40% {
    top: -4px;
  }
  50% {
    top: -5px;
  }
  60% {
    top: -4px;
  }
  70% {
    top: -3px;
  }
  80% {
    top: -2px;
  }
  90% {
    top: -1px;
  }
  100% {
    top: 0;
  }
}
