<div class="activity-container w-100 h-100">
    <div class="activity-group">
        <div class="activity-header">Long ago</div>
        <div>
            <app-activity-item></app-activity-item>
            <app-activity-item></app-activity-item>
        </div>
    </div>

    <div class="activity-group">
        <div class="activity-header">Long ago</div>
        <div>
            <app-activity-item></app-activity-item>
            <app-activity-item></app-activity-item>
            <app-activity-item></app-activity-item>
            <app-activity-item></app-activity-item>
        </div>
    </div>

</div>
