.activity-group {

  .activity-header {
    border-bottom: 1px solid #dadce0;
    color: #5f6368;
    font-size: 13px;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
    padding: 0 24px 0 16px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
  }
}
