.sub-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 6px;
  height: 48px;

  .page-title {
    font-size: 20px;
  }
}
