<div class="sub-header-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="page-title">{{title}}</div>

    <div class="sub-header-actions">
        <button mat-icon-button (click)="toggleShowAsGrid()">
            <mat-icon *ngIf="(showAsGrid$ | async) === false">view_module_outline</mat-icon>
            <mat-icon *ngIf="(showAsGrid$ | async) === true">view_list</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleDetailPanel()">
            <mat-icon>info_outline</mat-icon>
        </button>
    </div>
</div>
