<div class="list-container h-100 droppable-root" [attr.data-folder-id]="'root'">
    <mat-table matSort [dataSource]="dataSource" [trackBy]="trackByFn" class="clickable">
        <ng-container matColumnDef="name">
            <mat-header-cell fxFlex="45" *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
            <mat-cell fxFlex="50" *matCellDef="let element" fxLayout="row" fxLayoutGap="12px">
                <img draggable="false" src="assets/icon-files-types/{{element.iconType}}.svg" width="20" height="20">
                <span>{{element.name}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="owner">
            <mat-header-cell fxFlex="20" *matHeaderCellDef> Owner</mat-header-cell>
            <mat-cell fxFlex="20" *matCellDef="let element">
                <span class="mat-caption">{{element.createdBy.name}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastModified">
            <mat-header-cell fxFlex="25" *matHeaderCellDef mat-sort-header> Last Modified</mat-header-cell>
            <mat-cell fxFlex="25" mat-cell *matCellDef="let element">
                {{element.lastModifiedDate | date:'mediumDate'}} {{element.lastModifiedBy.name}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fileSize">
            <mat-header-cell fxFlex="10" *matHeaderCellDef> File size</mat-header-cell>
            <mat-cell fxFlex="10" *matCellDef="let element"> {{element.fileSizeInBytes}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                 appDragGhost
                 [content]="row.name"
                 [type]="row.iconType"
                 [countFiles]="multiFiles.length"

                 [attr.data-folder-id]="row.id"
                 [ngClass]="{
             'selected': selectedDocument?.id === row.id && !multiFiles.includes(row),
             'droppable': row.type === DocumentType.FOLDER,
             'file-dragged': filesDragging && filesDragging.includes(row),
             'select-many': multiFiles.includes(row)
             }"
                 (click)="onClick(row, i, $event)"
                 (dblclick)="onOpenPreviewAttachment(row)"
                 (contextmenu)="onOpenContextMenu($event, row);"
                 [draggable]="true"
                 (dragstart)="onDragStartFile($event, row)"
                 (dragend)="onDragEnd()">
        </mat-row>
    </mat-table>
</div>

<div class="context-menu"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu" [overlapTrigger]="false"
          (closed)="onCloseContextMenu()" hasBackdrop="false">
    <ng-template matMenuContent>
        <ng-container>
            <button mat-menu-item>
                <mat-icon>open_with</mat-icon>
                Open with
            </button>
            <mat-divider></mat-divider>
        </ng-container>

        <ng-container>
            <button mat-menu-item>
                <mat-icon>person_add_alt</mat-icon>
                Share
            </button>
            <button mat-menu-item>
                <mat-icon>link</mat-icon>
                Get link
            </button>
            <button mat-menu-item>
                <mat-icon>folder_outline</mat-icon>
                Show folder location
            </button>
            <button mat-menu-item>
                <mat-icon>add_to_drive</mat-icon>
                Add shortcut to Drive
            </button>
            <button mat-menu-item>
                <mat-icon>drive_file_move_outline</mat-icon>
                Move to
            </button>
            <button mat-menu-item>
                <mat-icon>star_outline</mat-icon>
                Add to Starred
            </button>
            <button mat-menu-item>
                <mat-icon>drive_file_rename_outline</mat-icon>
                Rename
            </button>
            <button mat-menu-item>
                <mat-icon>palette_outline</mat-icon>
                Change color
            </button>
            <button mat-menu-item>
                <mat-icon>search</mat-icon>
                Search within ...
            </button>
            <mat-divider></mat-divider>
        </ng-container>

        <ng-container>
            <button mat-menu-item>
                <mat-icon>info_outline</mat-icon>
                View detail
            </button>
            <button mat-menu-item>
                <mat-icon>download</mat-icon>
                Download
            </button>
            <mat-divider></mat-divider>
        </ng-container>

        <ng-container>
            <button mat-menu-item>
                <mat-icon>delete_outline</mat-icon>
                Remove
            </button>
        </ng-container>
    </ng-template>
</mat-menu>
