.main-nav {
  color: #5f6368;
  padding-right: 24px;
}

.btn-new {
  margin: 16px 100px 16px 24px;
  border-radius: 24px;
  padding: 8px;

  .mat-icon {
    font-size: 40px;
    height: 40px;
    margin-right: 16px;
  }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-expansion-panel-header {
  border-radius: 0 66px 66px 0;
  height: 40px;

  .mat-expansion-panel-header-title {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #5f6368;

    .panel-title-icon {
      margin-right: 8px;
    }
  }

  &.active {
    background-color: #e8f0fe;

    .mat-expansion-panel-header-title {
      color: #1967d2;
      font-weight: 600;
    }
  }

  &.mat-expanded {
    height: 40px;

    &:focus {
      background-color: #e8f0fe;
    }
  }
}

.expansion-list {
  .mat-list-item.mat-list-option {
    border-radius: 0 66px 66px 0;
    height: 32px;
  }

  .list-sub-item {
    padding-left: 36px !important;

    .mat-icon {
      margin-right: 8px;
    }

    span {
      font-weight: 500;
      color: #5f6368;
    }
  }
}

.mat-list-base.sidenav-item {
  padding: 0;

  .mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
    background: none;
  }

  .list-item {
    .mat-icon {
      margin-right: 8px;
    }

    span {
      font-weight: 500;
      color: #5f6368;
    }
  }

  .mat-list-item {
    border-radius: 0 66px 66px 0;
    height: 40px;

    &.active {
      background-color: #e8f0fe;
      color: #1967d2;

      .list-item span {
        font-weight: 600;
        color: #1967d2;
      }
    }
  }
}

