<div class="activity-item">
    <div class="time-stamp">Nov 28, 2019</div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div class="rounded-avatar rounded-avatar-lg">
            <img src="assets/img/avatar.png">
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="24px">
            <div class="activity-desc"><b>You</b> uploaded an item</div>
            <div>a new document.doc</div>
        </div>
    </div>
    <div class="activity-footer" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon>public_outline</mat-icon>
        <div class="target">Anyone on the internet</div>
        <div class="permission">Can view</div>
    </div>
</div>
