html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.main-container {
  mat-drawer {
    width: 256px;
  }

  .main-content {
    mat-drawer {
      width: 328px;
    }
  }

}

.main-nav {
  .mat-expansion-panel-body {
    padding: 0 0 16px 0;
  }
}

.mat-list-base.sidenav-item .mat-list-item .mat-list-item-content {
  padding: 0 24px;
}


.droppable-root {
  position: relative;
}

.droppable {
  position: relative;
}

.dropzone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  &.hide {
    display: none;
  }

  &.show {
    display: block;
  }

  &.hover {
    border: 2px solid #0057ff;
    background: #abceeb63;
  }

  &.root {
    z-index: 9998;
    background: none;
  }
}

.drag-ghost {
  padding: 8px 24px;
  background: #caeffe;
  border: 1px solid #1e88e5;
  border-radius: 4px;
  color: #1967d2;
  width: 180px;
  height: 24px;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  position: absolute;
  z-index: -1;

  .image-ghost {
    width: 20px;
    height: 20px;
    padding-right: 16px;
  }

  .description {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .count-draggable {
    position: absolute;
    z-index: 9;
    top: -8px;
    right: -8px;
    height: 24px;
    width: 24px;
    background: red;
    color: white;
    border-radius: 50%;
    text-align: center;
  }
}

.container-grid {
  .dropzone.hover {
    border: 2px solid #0057ff;
    background: #abceeb63;
    margin: -8px;
  }
}

.select-many {
  background: #e8f0fe;

  .mat-cell {
    color: #1967d2;
  }

  .label-truncate {
    color: #1967d2;
  }
}


.panel-container {
  .mat-tab-label {
    min-width: 50%;
    opacity: 1;
  }

  .mat-tab-label-active {
    color: #4285f4;
  }

  .mat-ink-bar {
    background-color: #4285f4 !important;
  }
}
