<div class="detail-container" fxLayout="column">
    <div class="thumbnail">
        <img src="assets/img/item-thumbnail/item_preview_panel_1.png">
    </div>
    <div class="sharing-information" fxLayout="row" fxLayoutGap="4px">
        <div class="rounded-avatar">
            <img src="assets/img/avatar.png">
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="rounded-avatar shared">
            <mat-icon>link</mat-icon>
        </div>
    </div>
    <div class="detail-information">
        <div fxLayout="row" fxLayoutAlign="start center" class="detail-row">
            <div class="detail-title">Type</div>
            <div class="detail-content">Word</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="detail-row">
            <div class="detail-title">Size</div>
            <div class="detail-content">2.4 MB</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="detail-row">
            <div class="detail-title">Storage used</div>
            <div class="detail-content">2.4 MB</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="detail-row">
            <div class="detail-title">Location</div>
            <div class="detail-content">My Drive</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="detail-row">
            <div class="detail-title">Owner</div>
            <div class="detail-content">Duke</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="detail-row">
            <div class="detail-title">Modified</div>
            <div class="detail-content">Nov 7, 2019 by me</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="detail-row">
            <div class="detail-title">Opened</div>
            <div class="detail-content"> Oct 31, 2019 by me</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="detail-row">
            <div class="detail-title">Created</div>
            <div class="detail-content"> Mar 14, 2019</div>
        </div>
    </div>
</div>
